.menu-text {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    line-height: 36px;
}

.menu-text-nav {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    line-height: 23.4px;
}

.text-PERFECTION {
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    font-size: 38px;
    line-height: 49.4px;
    
}

.text-made_to_be_yours {
    font-family: "Cormorant Garamond", serif;
    font-style: italic;
    font-size: 34px;
    line-height: 44.2px;
}
.new-in{
    
}